@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Work+Sans&display=swap');


:root {
    --color-grey: #f1f1f1;
}

body {
    font-family: 'Work Sans', sans-serif;    font-size: 18px;
    line-height: 1.5;
    background-color: white;
    color: black;
}

.controls {
    width: 100%;
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
}

/* Form */
form {
}

.colors {
    display: flex;
    justify-items: center;
}

.color {
    align-self: center;
    display: inline-block;
    border-radius: 100%;
    height: 40px;
    width: 40px;
    background-color: #cfffaf;
    margin: 8px;
    opacity: 0.5;
}

.color:hover {
    opacity: 1;
}

#red {
    background-color: #d24b4b;
}

#blue {
    background-color: #4864ee;
}

#purple {
    background-color: #6a49ff;
}

#green {
    background-color: #79e379;
}

#any {
    background: linear-gradient(to right, orange, yellow, green, cyan, blue, violet);
}

input {
    font-size: 24px;
    vertical-align: center;
    width: 100%;
    border: none;
    background-color: var(--color-grey);
    padding: 16px 24px 16px 24px;
    outline: none;
}

/* Search Results */
section.results {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: 32px 32px;
    padding: 32px;
}

div.single-result div.image {
    background-color: var(--color-grey);
    height: 400px;
}

div.single-result span.loading {
    display: inline-block;
    background-color: var(--color-grey);
    height: 12px;
    width: 75%;
}

div.single-result p span.loading {
    width: 30%;
}


.image_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    background-color: #cfffaf;
    width: 100vw;
}

img {
    width: 100%;
}


.pagination_container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination_controls{
    /*border-top: 2px solid black;*/
    /*border-bottom: 2px solid black;*/
    display: flex;
}
/* Buttons */

.btn{
    font-family: 'Work Sans', sans-serif;
    height: 42px;
    width: 42px;
    font-size: 24px;
    background-color: white;
}

.btn-page{
    border: 3px solid rgba(255, 255, 255, 0);
    border-radius: 50%;
    transition: 0.3s;
}

.btn-page:hover{
    border-color: black;
}

.btn-active{
    background-color: black;
    color: white;
    border: none;
}

.btn-disabled{
    background-color: black;
    color: #a2a2a2;

}
