<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../styles.css">
  <title>Title</title>
</head>
<body>
<!-- Pagination template

<div style="padding: 6rem">
  <div class="pagination_container">
    <div class="pagination_controls">
      <img class="btn btn-prev" src="icons/chevron_left_black_24dp.svg" alt="Icon for previous page button">
      <div class="pagination_pages">
        <button class="btn btn-page">1</button>
        <button class="btn btn-page btn-active">2</button>
        <button class="btn btn-page">3</button>
        <button class="btn btn-page">4</button>
        <button class="btn btn-page">5</button>
      </div>
      <img class="btn btn-next" src="icons/chevron_right_black_24dp.svg" alt="Icon for next page button">

    </div>
  </div>
</div>

-->

<p>currentpage</p>
<div class="pagination_container"></div>


<script src="image.js"></script>
</body>
</html>